In [57]:
import numpy as np
import pandas as pd
import datetime
import os

`Dictionary to translate each column name`

In [58]:
translation = {
    'السعر': 'opening',
    'اغلاق': 'closing',
    'أدنى سعر': 'min_price',
    'أعلى سعر': 'max_price',
    'آخر تحديث': 'last_update',
    'عدد الصفقات': 'n_deals',
    'القيمة': 'value',
    'الحجم': 'volume',
    'نسبة التغير (%)': 'change_pctg'
}

In [59]:
def combine_excels_in_directory(input_dir, output_path, folder=False):
    """Combine all Excel files inside a directory into ONE Excel file."""
    dfs = []
    for file in os.listdir(input_dir):
        if file.endswith(".xlsx") or file.endswith(".xls"):
            full_path = os.path.join(input_dir, file)
            df = pd.read_excel(full_path)
            df_new = df.rename(columns=translation)
            if(folder):df_new['stock'] = folder
            dfs.append(df_new)

    if dfs:
        combined = pd.concat(dfs, ignore_index=True)
        combined.to_excel(output_path, index=False)
        print(f"Combined file written to: {output_path}")
    else:
        print(f"No Excel files found in: {input_dir}")

In [ ]:
base_dir = os.getcwd()

data_dir = os.path.join(base_dir, "data")

stocks_dir = os.path.join(base_dir, "individual_stocks")
os.makedirs(stocks_dir, exist_ok=True)

for folder in os.listdir(data_dir):
    folder_path = os.path.join(data_dir, folder)

    if os.path.isdir(folder_path):
        output_file = os.path.join(stocks_dir, f"{folder}.xlsx")
        combine_excels_in_directory(folder_path, output_file, folder)

final_output = os.path.join(base_dir, "ALL_STOCKS.xlsx")

combine_excels_in_directory(stocks_dir, final_output)

print("✨ All tasks completed successfully!")

Combined file written to: c:\univ\ML\project scraping\stocks\AIB.xlsx
Combined file written to: c:\univ\ML\project scraping\stocks\apic.xlsx
Combined file written to: c:\univ\ML\project scraping\stocks\BoP.xlsx
Combined file written to: c:\univ\ML\project scraping\stocks\bpc.xlsx
Combined file written to: c:\univ\ML\project scraping\stocks\GUI.xlsx
Combined file written to: c:\univ\ML\project scraping\stocks\Isbk.xlsx
Combined file written to: c:\univ\ML\project scraping\stocks\jph.xlsx
Combined file written to: c:\univ\ML\project scraping\stocks\oreedo.xlsx
Combined file written to: c:\univ\ML\project scraping\stocks\trust.xlsx
Combined file written to: c:\univ\ML\project scraping\stocks\Wassel.xlsx
Combined file written to: c:\univ\ML\project scraping\ALL_STOCKS.xlsx
✨ All tasks completed successfully!

In [61]:
df = pd.read_excel("ALL_STOCKS.xlsx")

`Convert 'last_update' into date object and remove the hour time as it's unnecessary nosie to us`

In [62]:
type(df.loc[0, 'last_update'])

str

In [63]:
now = datetime.datetime.now()

In [64]:
df['last_update'] = df["last_update"].str.slice(0, 10)
df['date'] = df['last_update'].astype('datetime64[ns]')

In [65]:
df[['date', 'last_update']]

            date last_update
0     2025-11-20  2025-11-20
1     2025-11-19  2025-11-19
2     2025-11-13  2025-11-13
3     2025-11-10  2025-11-10
4     2025-11-09  2025-11-09
...          ...         ...
16530 2014-01-15  2014/01/15
16531 2014-01-14  2014/01/14
16532 2014-01-12  2014/01/12
16533 2014-01-08  2014/01/08
16534 2014-01-06  2014/01/06

[16535 rows x 2 columns]

In [66]:
df.dtypes

last_update            object
max_price             float64
min_price             float64
closing               float64
opening               float64
change_pctg           float64
volume                 object
value                  object
n_deals                 int64
stock                  object
date           datetime64[ns]
dtype: object

In [67]:
df.drop(columns=['last_update'], inplace=True)

In [68]:
df.dtypes

max_price             float64
min_price             float64
closing               float64
opening               float64
change_pctg           float64
volume                 object
value                  object
n_deals                 int64
stock                  object
date           datetime64[ns]
dtype: object

In [69]:
order = [df.columns[-1]] + [c for c in df.columns if c != 'date']
df = df[order]

In [70]:
df.columns

Index(['date', 'max_price', 'min_price', 'closing', 'opening', 'change_pctg',
       'volume', 'value', 'n_deals', 'stock'],
      dtype='object')

In [71]:
df.to_csv("FINAL_STOCKS.csv", index=False)